.makeStyles-button-13{
    background-color: transparent !important;
}

.home_carousel{
    height: 271px;
    width: 595px;
    /* background-color: yellow; */
}

.makeStyles-itemWrapper-3{
    height: 240px !important;
}

.makeStyles-indicators-4 {
    margin-top: 0px !important;
    height: auto !important;
}

.makeStyles-indicatorIcon-6{
    font-size: 5px !important; 
}

